In [35]:
import pandas as pd
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import seaborn as sns
import matplotlib.pyplot as plt
import joblib
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [36]:
# Charger le modèle de régression logistique, scaler et PCA
model_reg_log = joblib.load('RESULTATS/model_reg_log.pkl')
scaler = joblib.load('RESULTATS/scaler.pkl')
pca = joblib.load('RESULTATS/pca.pkl')

In [38]:
billets_test = pd.read_csv('RESULTATS/billets_test.csv',sep=",")

display(billets_test)

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    172.09       103.95        103.73        4.39       3.09  113.19  B_1
1    171.52       104.17        104.03        5.27       3.16  111.82  B_2
2    171.78       103.80        103.75        3.81       3.24  113.39  B_3
3    172.02       104.08        103.99        5.57       3.30  111.10  B_4
4    171.79       104.34        104.37        5.00       3.07  111.87  B_5

In [39]:


# Charger le modèle de régression logistique et le scaler
model_reg_log = joblib.load('RESULTATS/model_reg_log.pkl')
scaler = joblib.load('RESULTATS/scaler.pkl')

# Charger les données de test
XTest = billets_test.iloc[:, 0:6]

# Standardisation des données de test XTest
XTest_std = scaler.transform(XTest)

# Faire des prédictions sur les données de test
yTest_pred = model_reg_log.predict(XTest_std)

# Ajouter les prédictions de régression logistique au DataFrame
df_reg_log_test = billets_test.copy()
df_reg_log_test['Predict'] = yTest_pred

# Afficher le DataFrame final pour vérifier les mappages
display(df_reg_log_test)

# Enregistrer le DataFrame final avec les prédictions dans un fichier CSV
df_reg_log_test.to_csv('RESULTATS/billets_avec_predictions.csv', index=False)

,diagonal,height_left,height_right,margin_low,margin_up,length,id,Predict
0,172.09,103.95,103.73,4.39,3.09,113.19,B_1,True
1,171.52,104.17,104.03,5.27,3.16,111.82,B_2,False
2,171.78,103.80,103.75,3.81,3.24,113.39,B_3,True
3,172.02,104.08,103.99,5.57,3.30,111.10,B_4,False
4,171.79,104.34,104.37,5.00,3.07,111.87,B_5,False